page-login {
    .label-login{
        color:#c5c8cf;

    }
    .fab-button{
        background-color:#fff !important; 
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        color:#2d3a4d;
        display:inline-block;
    }
    .ion-label{
        color:#2d3647;
        font-weight:bold;
    }

}
